
/*
header.jumbotron {
    background-color: #2d708d;
    color: white;
}*/
main {
    min-height: 100vh;
}

nav {
    /*background-color: #ddd;  */
    margin-bottom: 0.5em; 
    padding: 0.2em;  
}
  
nav h2 {
    font-size: 1.25rem;
}


body{
    font-family: "Helvetica Neue", sans-serif;
}
h1{
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 0%;
}

h2{
    margin-top: .9em;
    margin-bottom: .7em;
}
h3, li, ul{
    margin-top: .9em;
    margin-bottom: .7em;
}
p{
    margin-top: 0em;
    margin-bottom: .2em;
}

footer {
    display: block;   
}


/* Add drop shadow to cards */
.card {
    box-shadow: 4px 9px 10px -4px rgba(0,0,0,0.10), -4px 9px 10px -4px rgba(0,0,0,0.10);
}




/* keep images in check */
.card-deck .card {
    flex-basis: 200px;
    margin-bottom: 30px;
}



@media (min-width: 768px) {
    header {
        background-image: url('/img/aut-m.jpg');
        background-position: center;
        background-size: cover;
    }
       

}

@media (min-width: 992px) {
    header {
        background-image: url('/img/aut-lg.jpg');
        background-position: center;
        background-size: cover;
    }
    nav a{
        font-size: 1.5rem;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }

    
}

@media (min-width: 1200px) {
    header {
        background-image: url('/img/aut-xl.jpg');
        background-position: center;
        background-size: cover;

    }

}
